<%
  submit_text = action_name == 'edit' ? 'Save' : 'Activate'
%>
<div class="cbox_form">
  <%= form_for @installation do |f| %>
    <%unless @installation.new_record? %>
      <div class="mdl-textfield mdl-js-textfield">
        <%= f.label :name, class:'mdl-textfield__label' %>
        <%= f.text_field :name ,class: 'mdl-textfield__input', required: true %>
      </div>
    <%end%>
    <div class="mdl-textfield mdl-js-textfield">
      <%= f.label :box_serial, class: 'mdl-textfield__label' %>
      <%= f.text_field :box_serial, class: 'mdl-textfield__input', required: true, disabled: !@installation.new_record? %>
    </div>

    <%= f.submit submit_text, class: "mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored" %>
  <% end %>

</div>