<div class="new_box_container card-container">
  <div class="mdl-card mdl-shadow--6dp">
    <div class="mdl-card__title mdl-color-text--white mdl-color--blue">
      <h2 class="mdl-card__title-text">Install Box</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <!-- TODO print errors -->
      <%= render partial: 'shared/error_messages', locals:{model: @installation}%>
    </div>
    <div class="mdl-card__actions">
      <%= render :partial=>'installations/form'%>
    </div>
  </div>
</div>