<% provide(:title, @installation.name) %>

<div class="installation_show_container card-container">
  <div class="mdl-card mdl-shadow--6dp">
    <div class="mdl-card__title mdl-color-text--white mdl-color--blue">
      <h2 class="mdl-card__title-text"><%= @installation.name %></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <ul class="mdl-list">
        <li class="mdl-list__item mdl-list__item--two-line">
          <span class="mdl-list__item-primary-content">
            <span><%= @installation.box_serial %></span>
            <span class="mdl-list__item-sub-title">Box Serial</span>
          </span>
          <span class="mdl-list__item-secondary-content">
            <img class="qrcode" src="<%= @installation.cbox.qrcode_url %> alt="QR code for serial <%=@installation.box_serial%>"> </img>
          </span>
        </li>
        <li class="mdl-list__item mdl-list__item--two-line">
          <span class="mdl-list__item-primary-content">
            <span>
              <%= @installation.created_at %>
            </span>
            <span class="mdl-list__item-sub-title">Created At</span>
          </span>
        </li>
        <li class="mdl-list__item mdl-list__item--two-line">
          <span class="mdl-list__item-primary-content">
            <span><%= @installation.updated_at %></span>
            <span class="mdl-list__item-sub-title">Last Updated</span>
          </span>
        </li>
      </ul>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <!-- Actions? -->
      <%= link_to "Edit", edit_installation_path(@installation),
                  class:'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
    </div>
  </div>
</div>