<% provide(:title, "Log in") %>

<div class="card-container">
  <div class="mdl-card mdl-shadow--6dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Log In</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
    <div class="mdl-card__actions">
      <%= form_for(:session, url: login_path) do |f| %>

          <div class="mdl-textfield mdl-js-textfield">
            <%= f.label :email, class:'mdl-textfield__label' %>
            <%= f.email_field :email, class: 'mdl-textfield__input' %>
          </div>

          <div class="mdl-textfield mdl-js-textfield">
            <%= f.label :password, class:'mdl-textfield__label'  %>
            <%= f.password_field :password, class: 'mdl-textfield__input' %>
          </div>

          <%= f.submit "Log in", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
      <% end %>
    </div>
  </div>
</div>

