<% provide(:title, 'Sign up') %>

<div class="card-container">
  <div class="mdl-card mdl-shadow--6dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Sign up</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <%= render partial: 'shared/error_messages', locals:{model: @user}%>
    </div>
    <div class="mdl-card__actions">
      <%= form_for(@user) do |f| %>
          <div class="mdl-textfield mdl-js-textfield">
            <%= f.label :name, class: 'mdl-textfield__label' %>
            <%= f.text_field :name, class: 'mdl-textfield__input', required: true %>
          </div>

          <div class="mdl-textfield mdl-js-textfield">
            <%= f.label :email, class: 'mdl-textfield__label' %>
            <%= f.email_field :email, class: 'mdl-textfield__input',required: true %>
          </div>

          <div class="mdl-textfield mdl-js-textfield">
            <%= f.label :password, class: 'mdl-textfield__label' %>
            <%= f.password_field :password, class: 'mdl-textfield__input',required: true %>
          </div>

          <div class="mdl-textfield mdl-js-textfield">
            <%= f.label :password_confirmation, "Confirmation", class: 'mdl-textfield__label' %>
            <%= f.password_field :password_confirmation, class: 'mdl-textfield__input',required: true %>
          </div>


          <%= f.submit "Create my account", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
      <% end %>
    </div>
  </div>
</div>
