<% provide(:title, "My installations") %>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--10-col">
    <h2>
      <%= "My Installations" %>
    </h2>
  </div>
  <div class="mdl-cell mdl-cell--2-col">

    <h3>
      <%= current_user.name%>
    </h3>
    <%= current_user.email %>
  </div>

</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">

    <ul class="mdl-list">
      <% current_user.installations.each do |installation|%>
        <li class="mdl-list__item mdl-list__item--two-line">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-avatar">explore</i>
            <span><%=link_to installation.name, installation, class: '' %></span>
            <span class="mdl-list__item-sub-title"><%= installation.cbox.serial %></span>
          </span>
          <span class="mdl-list__item-secondary-content">
            <span class="mdl-list__item-secondary-info">Edit</span>
            <%= link_to edit_installation_path(installation), class:'mdl-list__item-secondary-action'  do %>
              <i class="material-icons">settings</i>
            <% end %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col">
    <%= link_to(new_installation_path, id: 'new_box', class: 'mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--6dp')do %>
        <i class="material-icons">add</i>
    <%end%>
    <div class="mdl-tooltip" for="new_box">
      Add a box
    </div>
  </div>
</div>



