<div id="cbox-<%=cbox.id %>" class="cbox <%= cbox.installation.present? ? 'registered' : '' %>">
	<img class="qrcode" src=<%=cbox.qrcode_url%> alt="QR code for serial <%=cbox.serial%>"> </img>
	<div class="serial">
		<%= cbox.serial %>
	</div>
</div>
