// Place all the styles related to the cboxes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.cboxes-container .cbox {
  float: left;
  display: inline;  
}

/* fade registred boxes and disable cut and paste */
.cboxes-container .registered {
  opacity: 0.25;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;
}

.cbox .serial {
  margin-top: -15px;
  text-align: center;
  font-size: 120%;
}