<%
  menu_item_class = "mdl-navigation__link mdl-typography--text-uppercase"
%>
<% if logged_in? %>
    <%= link_to "Profile", current_user, class: menu_item_class %>
    <%= link_to "Sign Out", logout_path, method: :delete, class: menu_item_class %>
<% else %>
    <%= link_to "Sign up", signup_path, class: menu_item_class %>
    <%= link_to "Log In", login_path, class: menu_item_class %>
<% end%>