<!DOCTYPE html>
<html>
<head>
  <title>Boxapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <%= csrf_meta_tags %>
</head>
<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <%= render :partial => 'layouts/header'%>
  <div class="mdl-grid">
    <% flash.each do |message_type, message| %>
        <div class="mdl-cell mdl-cell--12-col">
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        </div>
    <% end %>
  </div>
  <div class="mdl-grid main-grid">
    <main class="mdl-layout__content mdl-cell mdl-cell--middle">
      <div class="page-content">
        <%= yield %>
      </div>
    </main>
  </div>



  <!-- TODO move footer to partial -->
  <footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
      <div class="mdl-logo">BoxApp</div>
      <ul class="mdl-mini-footer__link-list">
        <li><a href="#">Help</a></li>
        <li><a href="#">Privacy & Terms</a></li>
      </ul>
    </div>
  </footer>

</div>


</body>
</html>
